body {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

section {
    padding: 10px;
    text-align: top;
    &.item-editor {
        float: left;
        width: 300px;
        @import "components/item-editor";
    }
    &.undo-manager {
        float: right;
        width: 300px;
        @import "components/undo-manager";
    }
    &.item-viewer {
        @import "components/item-viewer";
    }
}
